.navbuttonn {
    background-color: #662672;
    color: white;
}

.logo {
    width: 150px;
    height: 40px;
}

.navcolor {
    background-color: #662672;
}

.logoutbtn {
    background-color: #662672;
    color: white;
}